@font-face {
    font-family: 'Effra_Bd';
    src: url('../fonts/Effra_Bd.eot');
    src: url('../fonts/Effra_Bd.eot') format('embedded-opentype'),
         url('../fonts/Effra_Bd.woff2') format('woff2'),
         url('../fonts/Effra_Bd.woff') format('woff'),
         url('../fonts/Effra_Bd.ttf') format('truetype'),
         url('../onts/Effra_Bd.svg#Effra_Bd') format('svg');
}
@font-face {
    font-family: 'Effra_He';
    src: url('../fonts/Effra_He.eot');
    src: url('../fonts/Effra_He.eot') format('embedded-opentype'),
         url('../fonts/Effra_He.woff2') format('woff2'),
         url('../fonts/Effra_He.woff') format('woff'),
         url('fonts/Effra_He.ttf') format('truetype'),
         url('../fonts/Effra_He.svg#Effra_He') format('svg');
}
@font-face {
    font-family: 'Effra_It';
    src: url('../fonts/Effra_It.eot');
    src: url('../fonts/Effra_It.eot') format('embedded-opentype'),
         url('../fonts/Effra_It.woff2') format('woff2'),
         url('../fonts/Effra_It.woff') format('woff'),
         url('../fonts/Effra_It.ttf') format('truetype'),
         url('../fonts/Effra_It.svg#Effra_It') format('svg');
}
@font-face {
    font-family: 'Effra_Md';
    src: url('../fonts/Effra_Md.eot');
    src: url('../fonts/Effra_Md.eot') format('embedded-opentype'),
         url('../fonts/Effra_Md.woff2') format('woff2'),
         url('../fonts/Effra_Md.woff') format('woff'),
         url('../fonts/Effra_Md.ttf') format('truetype'),
         url('../fonts/Effra_Md.svg#Effra_Md') format('svg');
}
@font-face {
    font-family: 'Effra_Rg';
    src: url('../fonts/Effra_Rg.eot');
    src: url('../fonts/Effra_Rg.eot') format('embedded-opentype'),
         url('../fonts/Effra_Rg.woff2') format('woff2'),
         url('../fonts/Effra_Rg.woff') format('woff'),
         url('../fonts/Effra_Rg.ttf') format('truetype'),
         url('../fonts/Effra_Rg.svg#Effra_Rg') format('svg');
}
@font-face {
    font-family: 'Effra_Lt';
    src: url('../fonts/Effra_Lt.eot');
    src: url('../fonts/Effra_Lt.eot') format('embedded-opentype'),
         url('../fonts/Effra_Lt.woff2') format('woff2'),
         url('../fonts/Effra_Lt.woff') format('woff'),
         url('../fonts/Effra_Lt.ttf') format('truetype'),
         url('../fonts/Effra_Lt.svg#Effra_Lt') format('svg');
}
@font-face {
    font-family: 'Magpie_Bd';
    src: url('../fonts/Magpie_Bd.eot');
    src: url('../fonts/Magpie_Bd.eot') format('embedded-opentype'),
         url('../fonts/Magpie_Bd.woff2') format('woff2'),
         url('../fonts/Magpie_Bd.woff') format('woff'),
         url('../fonts/Magpie_Bd.ttf') format('truetype'),
         url('../fonts/Magpie_Bd.svg#Magpie_Bd') format('svg');
}
@font-face {
    font-family: 'Magpie_Rg';
    src: url('../fonts/Magpie_Rg.eot');
    src: url('../fonts/Magpie_Rg.eot') format('embedded-opentype'),
         url('../fonts/Magpie_Rg.woff2') format('woff2'),
         url('../fonts/Magpie_Rg.woff') format('woff'),
         url('../fonts/Magpie_Rg.ttf') format('truetype'),
         url('../fonts/Magpie_Rg.svg#Magpie_Rg') format('svg');
}



