@charset "utf-8";
.project-list .project-discription .rel-description ul li span.rel-des{padding-right:5px;}
.priceonrequest{padding-left:5px;}
.width80{border:none;}
.subscrib input{border: 1px solid #000000;  height:47px;}

.no-results.not-found{padding: 60px 15px;}

.open-position-inner .tab-content{display:none;}
.open-position-inner .tab-content.current{display:inherit;}
.search-menu ul li.active a{color:#404041;}


