.mobile-view {
	display: none !important;
}

.learn-more.tg-mob {
	display: none;
}

@media only screen and (max-width:1600px) and (min-width:1366px) {
	.project-sell .container.container-new {
		max-width: 100%;
	}

	.rent-inner-content {
		padding-left: 15%;
	}

}

@media only screen and (max-width:1280px) {
	.home-aboutimg img {
		width: 100%;
	}

}

@media only screen and (max-width:1024px) {
	.home-aboutimg {
		margin: 0;
	}

	.home-aboutimg img {
		width: 90%;
	}

	.buyproductlist .buy-product {
		width: 50%
	}

	.filter-section .serach-pannel .search-field {
		width: 25%;
		padding: 0;
	}

}

@media only screen and (max-width:992px) {
	.project-list {
		flex-wrap: wrap;
		padding: 0;
	}

	.project-list .project-discription {
		margin-top: 0;
	}

	.project-list .project-img,
	.project-list .project-discription {
		width: 100%;
	}

	.project-list .project-img {
		order: 1;
		margin-bottom: 20px;
	}

	.project-list .project-discription .p_table {
		max-width: 100%;
		margin-bottom: 20px;
	}

}

@media only screen and (max-width:850px) {
	.serach-pannel {
		display: flex;
		flex-wrap: wrap;
		padding: 15px 25px;
		background: #fff;
	}

	.property-filter,
	.search-submit {
		width: 48%;
		padding: 0;
		margin: 1%;
	}

	.navigation {
		width: 100%;
		float: left;
		text-align: center;
		padding: 10px 0;
	}

	header {
		background: rgba(16, 16, 16, 0.5);
	}

	.banner-innerslider header {
		background: rgba(177, 171, 171, 0.5)
	}

	.banner-inner .navigation ul li a,
	.banner-inner .navigation ul li,
	.banner-inner .navigation ul li span .fa,
	.navigation ul li a,
	.navigation ul li span .fa {
		color: #f5efef;
	}

	#inner-banner .trigger .fa {
		color: #fff
	}

	.navigation ul {
		display: flex;
		padding: 10px 0 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.navigation ul li {
		padding: 0;
		text-align: left;
		font-size: 12px;
		letter-spacing: normal;
		margin: 0 12px;
	}

	.navigation ul li a {
		font-size: 20px;
	}

	.trigger {
		position: absolute;
		left: 15px;
		top: 10px;
	}

	.logo {
		text-align: center;
		width: 100%;
	}

	.search-menu ul {
		background: rgba(0, 0, 0, 0.61);
	}

	.search-menu ul li {
		border-right: 1px solid #fff;
		padding: 20px 20px 15px;
	}

	.search-menu ul li:last-child {
		border: none;
	}

	.search-menu ul li a {
		padding: 0 !important;
		font-size: 20px !important;
	}

	.innerbanner-slider .banner-caption h3 {
		padding: 100px 15px;
		font-size: 24px;
	}

	.property-made,
	.pr-made {
		min-height: initial;
	}

	.pr-made p {
		font-size: 24px;
		min-height: initial;
		padding: 100px 0;
	}

	.rent-inner-content h2 {
		font-size: 30px;
	}

	.project-sell .rent-inner-banner {
		width: 100%;
		float: left;
	}

	.project-sell .project-sell-left {
		width: 100%;
		padding: 20px 0;
	}

	.rent-inner-content h2 br {
		display: none;
	}

	form.has-validation-callback {
		display: block;
		width: 100%;
	}

	.search {
		max-width: 900px;
		width: 100%;
		margin: auto;
		position: relative;
		top: initial;
		right: initial;
		left: initial;
		bottom: initial;
		height: auto;
		padding: 100px 0;
	}

	.banner {
		height: auto;
		min-height: 450px;
	}

	.navigation ul li span.letstalk {
		display: none;
	}

	.nav768 {
		display: block;
		position: absolute;
		top: 26px;
		right: 0;
		z-index: 999;
		width: 90px;
		text-align: center;
	}

	.nav768 ul {
		margin: 0;
		padding: 0;
	}

	.nav768 ul li {
		display: inline-block;
		outline-style: none;
		vertical-align: middle;
		margin: 0 10px;
	}

	.nav768 ul li a {
		color: #fff;
		font-size: 25px;
	}

	.navigation {
		display: none;
	}

	.about-project-inner .text p:empty {
		display: none;
	}

}

@media only screen and (max-width:768px) {
	.privacy-policy-cust h3 {
		font-size: 30px;
	}

	img {
		max-width: 100%;
	}

	.learn-more {
		margin-bottom: 30px;
		text-align: center;
	}

	.home-aboutimg {
		float: left;
		width: 100%;
		margin-bottom: 20px;
	}

	.home-aboutimg img {
		width: 100%
	}

	.homeabout-text {
		width: 100%;
		max-width: 100%
	}

	.section-heading,
	.text h2 {
		font-size: 30px;
	}

	.learn-more a {
		min-width: 250px;
	}

	.buyproductlist .buy-product,
	.buyproductlist .buy-product .grid-inner .project-grid-image {
		width: 100%;
	}

	.project-grid-image a {
		width: 100%;
	}

	.buyproductlist .buy-product .grid-inner .project-grid-image {
		flex-wrap: wrap;
	}

	.buy-grid.buy-list .buyproductlist .buy-product .project-img {
		width: 100%
	}

	.buy-grid.buy-list .buyproductlist .buy-product .project-grid-image .project-grid-details.on-hover {
		width: 100%;
		padding: 15px;
	}

	.buy-grid.buy-list .buyproductlist .buy-product .project-grid-image .project-grid-details.on-hover .p-table-inner {
		max-width: 100%;
	}

	.project-grid-details {
		width: 100%;
	}

	.broker-form-inner {
		padding: 0 15px;
	}

	.laodmore-btn {
		padding-bottom: 30px;
		text-align: center !important;
	}

	.project-details-outer {
		padding: 30px 0;
	}

	.laodmore-btn a {
		margin: 0;
		display: inline-block;
	}

	.subscrib input {
		min-width: 220px;
	}

	.view-div {
		display: none;
	}

	.buy-grid {
		padding: 30px 0;
		margin: 30px 0;
	}

	.about-us,
	.project-sell,
	.broker-inquery,
	.dealer-contact,
	footer,
	.home-latest-project-view,
	.home-blog {
		padding: 30px 0;
	}

	.home-latest-project {
		padding-bottom: 30px;
	}

	.pr-made p {
		text-align: center;
	}

	.copy-right {
		padding-top: 30px;
	}

	.buyproductlist .buy-product .grid-inner .project-grid-image {
		padding-top: 20px;
	}

	.project-grid-image {
		margin-bottom: 20px;
	}

	.project-grid-image:hover .on-hover {
		display: none;
	}

	.project-grid-image:hover .withouthover {
		bottom: 0;
	}

	.blog-listing p {
		padding: 8px 0;
	}

	.innerbanner-slider .owl-theme .owl-nav {
		background: rgba(70, 70, 69, 0.6196078431372549);
	}

	.about-project-inner .ab-project h2 {
		margin: 0;
		padding-bottom: 10px;
	}

	ul.without-icon li {
		display: inline-block;
		width: 48%;
	}

	.rent-inner-content p {
		padding-top: 0;
	}

	.filter-section .serach-pannel .search-field {
		width: 48%;
		padding: 0;
		margin: 1%;
	}

	.dealer-contact-buttons {
		margin: 30px 0;
	}

	.d_req {
		width: 49%;
		margin: 0;
		display: inline-block;
	}

	.d_req:first-child {
		margin-right: 2%;
	}

	.home-project-video {
		margin: 30px 0 0 0;
	}

}

@media only screen and (max-width:767px) {
	.add-block h3 {
		font-size: 22px;
	}

	.contact-locator .section-heading {
		text-align: left;
		margin-top: 20px;
	}

	.privacy-policy-cust h3 {
		font-size: 22px;
	}

	.thumbnail-img .item {
		margin: 1px;
	}

	.cs-check label {
		padding-top: 2px;
	}

	.follow-us h4 {
		margin-bottom: 0;
	}

	.d_req {
		width: 100%;
		max-width: 100%;
		margin: 10px;
	}

	.d_req a {
		max-width: 100%
	}

	.home_poroject {
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}

	.mobile-view {
		display: block !important;
	}

	.desktop-view {
		display: none !important;
	}

	.navigation ul li.mobile-view {
		display: inline-block !important;
		padding: 0 10px;
	}

	.navigation ul li a {
		font-size: 16px;
		color: #a0a0a0;
	}

	.navigation ul li span .fa {
		color: #a0a0a0;
	}

	.property-filter,
	.search-submit {
		width: 100%;
		margin: 10px 0;
	}

	.ms-options-wrap > button:after,
	#budget:after,
	#max-budget:after {
		right: 15px;
	}

	.search-submit {
		width: 210px;
		margin: 10px auto;
	}

	.property-filter .form-control {
		border: 1px solid #919396;
	}

	footer,
	.follow-us {
		text-align: center;
	}

	.width100 {
		margin: 0 auto;
	}

	.follow-us ul li {
		padding: 10px;
	}

	.filter-section .serach-pannel .search-field {
		width: 100%;
		margin: 10px 0;
	}

	.serach-pannel .search-field .btn-group .multiselect.dropdown-toggle {
		background: #fff;
		text-align: left;
	}

	.filter-section .search-submit.search-field {
		width: 210px;
		margin: 0 auto;
		float: none;
		clear: both;
		display: block;
		text-align: center;
	}

	.filter-section .search-submit.search-field button {
		margin-top: 10px;
	}

	.serach-pannel {
		background: #f5f2f2;
	}

	.inner-filter #budget:after,
	.inner-filter #max-budget:after {
		right: 15px;
	}

	.innerbanner-slider .item figure {
		width: 100%;
	}

	.innerbanner-slider .item figure img {
		object-fit: cover;
		width: 100%;
		height: 290px;
	}

	.subscrib {
		margin-top: 30px;
	}

	.project-list .project-name h3 a {
		font-size: 22px;
	}

	.project-list .project-discription {
		padding: 15px;
	}

	.text p {
		font-size: 15px;
		line-height: 22px;
	}

	.section-heading,
	.text h2,
	.broker-inquery .inner-section-heading h2 {
		font-size: 20px;
		line-height: normal;
	}

	.form-field textarea {
		height: 120px;
	}

	.form-field input,
	.form-field textarea,
	.select-style {
		border-width: 1px;
	}

	.filter-section.inner-filter {
		padding-top: 20px !important;
	}

	.pagination-sec {
		padding: 20px 0 0
	}

	.inner-section-heading {
		text-align: left;
	}

	.pay_plan {
		display: none;
		margin-top: 20px;
	}

	.paymentplan .inner-section-heading.text h2 {
		padding: 0;
		margin: 0;
		padding: 16px;
		background: url(../images/plus12.png) no-repeat top 15px right 15px #565656;
		color: #fff;
		position: relative;
		background-size: 27px;
	}

	.paymentplan .inner-section-heading.text h2.minus1 {
		background: url(../images/minus12.png) no-repeat top 15px right 15px #565656;
		margin-bottom: 20px;
		background-size: 27px;
	}

	.footer-link ul {
		display: none;
		text-align: left;
	}

	.footer-link h4 {
		text-align: left;
		padding: 16px 10px 12px 10px;
		background: url(../images/plus12.png) no-repeat top 10px right 15px #565656;
		background-size: 20px;
		color: #fff;
		line-height: 15px;
	}

	.footer-link h4.minus1 {
		background: url(../images/minus12.png) no-repeat top 10px right 15px #565656;
		background-size: 20px;
	}

	.about-us .text p {
		display: none;
	}

	.about-us .text h2+p {
		display: block;
	}

	.d_req a {
		border: 1px solid #464645;
		font-size: 18px;
	}

	.learn-more.tg-mob {
		display: block;
		text-align: left;
		width: 160px;
		margin: 0;
		padding: 0;
	}

	.learn-more a {
		width: 140px;
		text-align: center;
		min-width: 140px;
		padding: 8px 10px 6px;
		text-transform: capitalize;
		margin: 0;
	}

	.rent-inner-content h2 {
		font-size: 22px;
		line-height: normal;
		padding: 10px 0 0;
		margin: 0;
	}

	#big {
		padding: 10px 0;
	}

	.developer-details ul {
		padding-top: 10px;
	}

	.project-name {
		padding: 20px 15px;
		background: #565656;
		color: #fff;
	}

	.project-list .project-name p.dev_loper {
		color: #fff;
		padding-bottom: 0
	}

	.project-list .project-name h3 a {
		color: #fff;
	}

	.home-project-video .tab-content.current p {
		display: block;
		display: -webkit-box;
		max-width: 100%;
		height: 82px;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.follow-us {
		margin-top: 20px;
	}

	.project-inner-gallery #thumbs .item img {
		display: none;
	}

	.d_req {
		width: 100%;
		margin: 0;
		display: inline-block;
		margin-bottom: 15px;
	}

	.about-us,
	.project-sell,
	.broker-inquery,
	.dealer-contact,
	footer,
	.home-latest-project-view,
	.home-blog {
		padding: 15px 0;
	}

	.dropdown-toggle::after {
		right: 15px;
	}

}

@media only screen and (max-width:586px) {
	.open-position-inner ul li{
		padding:10px 7px;
		font-size:13px;
		width: 50%;
		margin-left: -4px;
	}
	.open-position {
		padding: 60px 15px 0;
	}
	.apply-now a{
		padding:0 6px;
		font-size:12px;
		text-align:center;
	}
	.dealer-contact-buttons {
		margin: 30px 0 0;
	}

	.perpage-view {
		margin-top: 20px;
	}

	.buy-grid {
		padding: 20px 0;
		margin: 15px 0;
	}

	.navigation ul {
		flex-wrap: wrap;
	}

	.navigation ul li {
		width: 100%;
		text-align: center;
	}

	.developer-details ul li {
		width: 100%
	}

}

@media only screen and (max-width:480px) {
	.search-menu ul li {
		padding: 10px 10px 6px;
		width: 33%;
		text-align: center;
	}

	.search-menu ul li,
	.search-menu ul li a {
		font-size: 16px !important;
	}

	.modal-title {
		font-size: 24px;
		line-height: 30px;
	}

	#myModal .modal-content {
		padding: 0;
	}

}

@media only screen and (max-width:330px) {
	.search-menu ul li,
	.search-menu ul li a {
		font-size: 14px !important;
	}

	.pagination-sec	.d-flex.justify-content-end {
		flex-wrap: wrap;
	}

	.pagination-div,
	.perpage-view {
		width: 100%;
		margin: 10px 0;
	}

	.perpage-view .select {
		float: right;
	}

}
