@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    vertical-align: middle;
}

body {
    font-family: 'Effra_Rg';
}

.owl-theme .owl-dots .owl-dot:hover,
.owl-theme .owl-dots .owl-dot:visited,
.owl-theme .owl-dots .owl-dot:active,
.owl-theme .owl-dots .owl-dot:focus,
.owl-carousel .owl-nav button:hover,
.owl-carousel .owl-nav button:focus,
.owl-carousel .owl-nav button:active,
.owl-carousel .owl-nav button:visited {
    outline: 0;
    box-shadow: initial;
}

.owl-theme .owl-dots .owl-dot span {
    background: none;
    border: 1px solid #464645;
    width: 15px;
    height: 15px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #464645;
}

.thumbnail-img .docs-pictures {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.docs-pictures123{
    display: flex;
    justify-content: space-between;
}
.docs-pictures123 .item {
    width: 24% !important;
    float: left;
}

.docs-pictures123 .item img {
    padding: 2px;
    box-sizing: border-box;
}

.thumbnail-img .owl-dots {
    display: block !important;
    margin-top: 35px;
}

header {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 0;
    box-sizing: border-box;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 99;
    display: none;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
}

.mega_menu.open {
    visibility: visible;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}

.mega_menu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.4s, visibility 0s 0.4s;
    transition: transform 0.4s, visibility 0s 0.4s;
}

.mega_menu {
    background: #404041;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    z-index: 999;
    background-size: cover;
}

.mega_menu ul {
}

.mega_menu ul li {
}

.mega_menu ul li a {
    padding: 10px 15px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all 0.7s;
    font-size: 20px;
}

.mega_menu ul li a:hover {
    transition: all 0.7s;
    background: #fff;
    color: #404041;
}

.padd0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padd0-right {
    padding-right: 0 !important;
}

.padd0-left {
    padding-left: 0 !important;
}

.trigger {
    width: 40px;
    float: left;
    padding-top: 16px;
}

.trigger .fa {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

#inner-banner .trigger .fa {
    color: #404041;
}

.logo {
    float: left;
    width: calc(50% + 19.5px);
    text-align: right;
}

.navigation {
    float: right;
    width: calc(50% - 59.5px);
    text-align: right;
}

.navigation ul {
    padding: 25px 0 0;
}

.navigation ul li {
    vertical-align: middle;
    display: inline-block;
    padding-left: 30px;
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
}

.navigation ul li span {
    vertical-align: middle;
    padding-right: 5px;
    display: inline-block;
}

.navigation ul li span .fa {
    color: #fff;
    font-size: 18px;
}

.navigation ul li a {
    color: #fff;
    text-decoration: none;
    color: #fff;
}

.banner-inner .navigation ul li span .fa {
    color: #404041;
}

.banner-inner .navigation ul li {
    color: #404041;
}

.banner-inner .navigation ul li a {
    color: #404041;
}

.banner {
    background: url(../images/banner1.jpg) no-repeat top center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.banner-inner {

    /*height: calc(100vh - 150px);
    */
}

.banner-caption {
    display: table;
    height: calc(100vh - 237px);
    width: 100%;
}

.banner-caption-inner {
    display: table-cell;
    vertical-align: middle;
    height: calc(100vh - 237px);
    font-size: 30px;
    text-align: center;
    color: #fff;
    width: 100%;
    font-family: 'Magpie_Rg';
    text-transform: uppercase;
}

.search-menu {
}

.search-menu ul {
    margin-bottom: 0;
}

.search-menu ul li {
    display: inline-block;
    vertical-align: bottom;
}

.search-menu ul li {
    padding: 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    vertical-align: middle;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.search-menu ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    vertical-align: middle;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.search-menu ul li input[type="radio"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.search-menu ul li.active {
    background: #fff;
    color: #404041;
}

.search-menu ul li:hover {
    background: #fff;
    color: #404041;
}

.search-menu ul li:hover a {
    background: #fff;
    color: #404041;
}

.search-submit {
    width: 16.66%;
    float: left;
}

.property-filter {
    width: 16.66%;
    float: left;
}

.search-field {
    width: 12.5%;
    float: left;
}

.search-field select {
    height: 50px;
    font-size: 16px;
    color: #3e3e3e;
    padding: 5px 20px 5px 10px;
    line-height: 44px;
    font-weight: 400;
    border-radius: none;
    border-radius: 0;
    border: 1px solid #aaa;
}

.laodmore-btn {
    padding-bottom: 50px;
}

.search-field select:focus {
    box-shadow: none;
    border-radius: 0;
}

.property-filter select {
    height: 50px;
    font-size: 16px;
    color: #3e3e3e;
    padding: 5px 20px 5px 10px;
    line-height: 44px;
    font-weight: 400;
    border-radius: 0;
}

.property-filter select:focus {
    box-shadow: none;
}

.property-filter select {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.search-field select {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#budget {
    position: relative;
    background: #fff;
}

.search-field {
    position: relative;
}

#budget select {
    background: none;
}

#budget:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}

.inner-filter #budget:after,
.inner-filter #max-budget:after {
    right: 20px;
}

#max-budget {
    position: relative;
    background: #fff;
}

#max-budget select {
    background: none;
}

#max-budget:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}

#budget select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.ms-options-wrap>button:focus,
.ms-options-wrap>button {
    margin-top: 0;
}

.ms-options-wrap>button:focus,
.ms-options-wrap>button {
    height: 50px;
    font-size: 16px;
    color: #3e3e3e;
    padding: 5px 20px 5px 10px;
    line-height: 44px;
    font-weight: 400;
}

.ms-options-wrap>ul {
    margin: 0;
    border: none;
    max-height: -webkit-fill-available !important;
}

.innerbanner-slider .banner-caption {
    z-index: 999;
}

.search {
    max-width: 900px;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 200px;
}

.search-submit button {
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 5px 10px 5px 10px;
    line-height: 44px;
    font-weight: 400;
    background: #464645;
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-family: 'Magpie_Rg';
    letter-spacing: 2px;
    transition: all 0.7s;
}

.search-submit button:hover {
    transition: all 0.7s;
    background: rgba(70, 70, 69, 0.6);
}

.banner {
    position: relative;
}

.about-us {
    padding: 60px 0;    /* background:url(../images/about-banner.jpg) no-repeat top 60px right;
     */
    ;
}

.text {
}

.text h2 {
    font-size: 40px;
    color: #626366;
    font-family: 'Magpie_Rg';
    padding-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.text p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 10px;
}

.text-align-right {
    text-align: right;
}

.learn-more {
    margin-top: 40px;
}

.home-project-video .learn-more {
    margin-top: 20px;
}

.learn-more a {
    color: #fff;
    background: #464645;
    padding: 10px 30px;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.7s;
    line-height: 30px;
    text-transform: uppercase;
    border: 2px solid transparent;
}

.learn-more a:hover {
    background: none;
    border: 2px solid #000;
    color: #464645;
}

.home-latest-project {
    padding-bottom: 60px;
}

.home_poroject {
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* .home_poroject{
width:25%;
position:relative;
float:left;
overflow:hidden;
}
 */
.home_poroject img {
    width: 100%;
    vertical-align: top;
    transition: all 0.7s;
    transform: scale(1);
}

.home_poroject:hover img {
    transform: scale(1.07);
    transition: all 0.7s;
}

.home_project_name {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.home_project_name a {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    display: table-cell;
    top: 0;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.home_project_name a span {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.7s;
}

.home_poroject:hover .home_project_name a span {
    transition: all 0.7s;
    top: 75%;
}

.section-heading {
    font-size: 35px;
    color: #626366;
    font-family: 'Magpie_Rg';
    padding-bottom: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

#vdo {
    height: 335px;
    object-fit: unset;
}

.home-latest-outer .owl-nav {
    display: none;
}

#thumbs .item {
    padding: 5px;
    box-sizing: border-box;
}

#thumbs .item img {
    width: 100%;
}

#big {
    box-sizing: border-box;
    padding: 5px;
}

#big .item img {
    padding-top: 8px;
}

.home-project-video ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.home-project-video ul.tabs li {
    background: none;
    color: #414042;
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
}

.home-project-video .tab-content {
    display: none;
    padding: 15px 0;
}

.home-project-video .tab-content p {
    font-size: 16px;
    color: rgba(70, 70, 69, .8);
    line-height: 26px;
    font-family: 'Effra_Rg';
}

.home-project-video .tab-content.current {
    display: inherit;
}

.home-latest-project-view {
    padding-bottom: 60px;
}

.home-benefits-inner {
    text-align: center;
    padding-top: 30px;
}

.home-benefits-inner img {
    padding-bottom: 40px;
}

.home-benefits-inner h4 {
    color: #9b9b9b;
}

.home-benefits {
    padding-bottom: 60px;
}

.home-blog {
    background: #f6f6f6;
    padding: 60px 0;
}

.blog-listing {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.blog-listing {
}

.blog-listing img {
    width: 100%;
    vertical-align: top;
}

.blog-listing h3 {
    font-size: 22px;
}

.blog-listing h3 a {
    text-decoration: none;
    color: #414042;
    font-size: 21px;
    line-height: 28px;
    text-transform: capitalize;
}

.blog-listing p {
    font-size: 16px;
    color: rgba(70, 70, 69, 0.8);
    padding: 20px 0;
    margin: 0;
}

.learn-post-more {
}

.learn-post-more a {
    text-decoration: none;
    font-size: 17px;
    color: #9b9b9b;
    text-transform: uppercase;
}

.learn-post-more a .fa {
    padding-left: 8px;
    font-size: 17px;
    color: #9b9b9b;
    transition: all 0.7s;
}

.learn-post-more a:hover {
    color: #414042;
}

.learn-post-more a:hover .fa {
    color: #000;
    padding-left: 14px;
    transition: all 0.7s;
}

#home-blog .owl-nav {
    display: none;
}

#home-blog .owl-dots {
    padding-top: 20px;
}

#home-blog .owl-dot span {
    background: transparent;
    width: 15px;
    height: 15px;
    border: 1px solid #464645;
}

#home-blog .owl-dot.active span {
    background: #464645;
    width: 15px;
    height: 15px;
    border: 1px solid #464645;
}

.map {
}

.map img {
    width: 100%;
    vertical-align: top;
}

footer {
    background: #f6f6f6;
    padding: 60px 0 20px;
}

.footer-link {
}

.footer-link h4 {
    font-size: 16px;
    color: #626366;
    line-height: 20px;
}

.footer-link ul {
    margin-bottom: 0;
}

.footer-link ul li {
    display: block;
    list-style: none;
}

.footer-link ul li a {
    text-decoration: none;
    color: #626366;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Effra_Lt';
    display: inline-block;
    padding: 5px 0;
    transition: all 0.7s;
}

.footer-link ul li:hover a {
    color: #000;
    padding-left: 5px;
}

.subscrib {
}

.subscrib h4 {
    font-size: 17px;
    color: #626366;
    line-height: 20px;
}

.width80 {
    float: left;
    width: 70%;
    border: 1px solid #000000;
    border-right: none;
}

.width20 {
    float: left;
    width: 30%;
    border: 1px solid #000000;
    border-left: none;
}

.subscrib input {
    width: 100%;
    width: 100%;
    height: 45px;
    line-height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    border: none;
}

.subscrib button {
    width: 100%;
    height: 45px;
    line-height: 50px;
    border: none;
    color: #fff;
    background: #464645;
    transition: all 0.7s;
    text-transform: uppercase;
    font-size: 15px;
    border: 1px solid transparent;
}

.subscrib button:hover {

    /* background:rgba(70,70,69,0.5);
     */
    background: none;
    border-left: 2px solid #464645;
    color: #464645;
}

.copy-right {
    font-size: 15px;
    color: #626366;
    padding-top: 60px;
}

.follow-us h4 {
    font-size: 17px;
    color: #626366;
    line-height: 20px;
    text-transform: uppercase;
}

.follow-us {
    text-align: left;
    padding-top: 12px;
}

.follow-us ul {
    margin-bottom: 0;
}

.follow-us ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px 0 0;
}

.follow-us ul li a {
    text-decoration: none;
    padding-left: 0;
}

.follow-us ul li a .fa {
    font-size: 22px;
    color: #626366;
    transition: all .5s;
}

.follow-us ul li:hover a .fa {
    color: #454546;
    transition: all .5s;
}

.project-details-outer {
    padding: 60px 0;
}

.home-aboutimg {
    float: right;
    width: 50%;
    margin-right: -15px;
}

.home-aboutimg img {
    padding-top: 8px;
}

.homeabout-text {
    float: right;
    width: 550px;
    max-width: 50%;
}

.text {
}

.text h2 {
    color: #626366;
    font-size: 35px;
    line-height: 40px;
    font-family: 'Magpie_Rg';
    padding-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.text p {
    font-size: 16px;
    color: rgba(70, 70, 69, .8);
    line-height: 26px;
    font-family: 'Effra_Rg';
}

.text h3 {
    color: #626366;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}

.developer-details {
    padding-top: 30px;
}

.developer-details {
}

.developer-details ul {
    padding-top: 30px;
}

.developer-details ul li {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    margin-left: -4px;
    width: 50%;
    padding-bottom: 5px;
    box-sizing: border-box;
    color: #464645;
}

.developer-details ul li span {
    display: inline-block;
    padding-right: 10px;
}

ul.without-icon {
    padding-top: 0;
}

ul.without-icon li {
    display: block;
    width: 100%;
    background: url(../images/bullet.png) no-repeat top 5px left 10px;
    padding-left: 30px;
}

.explore-dealer {
}

.explore-dealer a {
    background: url(../images/explore.png) no-repeat top 10px left 20px;
    border: 2px solid #b0b0b0;
    font-size: 17px;
    font-family: 'Effra_Bd';
    color: #464645;
    display: inline-block;
    padding: 12px 40px 10px 72px;
    text-decoration: none;
    transition: all 0.7s;
}

.explore-dealer a:hover {
    color: #000;
    border: 2px solid #000;
    transition: all 0.7s;
}

.inner-section-heading {
    text-align: center;
}

.paymentplaninner {
    background: #f6f6f6;
    padding: 20px 40px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: all 0.7s;
}

.paymentplaninner h5 {
    font-size: 20px;
    color: #464645;
    line-height: 24px;
    margin: 0;
}

.paymentplaninner p {
    font-size: 15px;
    line-height: 20px;
    color: #464645;
    margin: 0;
}

.paymentplaninner:hover {
    background: #000;
    transition: all 0.7s;
}

.paymentplaninner:hover h5 {
    color: #fff;
}

.paymentplaninner:hover p {
    color: #fff;
}

.broker-inquery {
    background: #f6f6f6;
    padding: 50px 0;
}

.fl-left {
    float: left;
    width: 50%;
    padding: 0 20px;
    box-sizing: border-box;
}

.fr-right {
    float: left;
    width: 50%;
    padding: 0 20px;
    box-sizing: border-box;
}

.broker-form-inner {
    width: 100%;
}

.broker-form-inner form {
    width: 100%;
}

.form-field {
    margin-bottom: 20px;
}

.form-field input {
    width: 100%;
    padding: 0 20px;
    height: 45px;
    font-size: 15px;    /*line-height:50px;*/
    border: 2px solid #cacaca;
}

.form-field textarea {
    width: 100%;
    padding: 20px;
    height: 175px;
    font-size: 15px;
    line-height: 20px;
    border: 2px solid #cacaca;
}

.form-field .mobile-field {
    display: table;
    width: 100%;
}

/* Reset Select */
.form-field .mobile-field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    background: transparent;
}

/* Remove IE arrow */
.form-field .mobile-field select::-ms-expand {
    display: none;
}

/* Custom Select */
.form-field .mobile-field .select {
    position: relative;
    display: table-cell;
    width: 100px;
    overflow: hidden;
    border-radius: 0;
    line-height: 40px;
    vertical-align: top;
}

.select-style {
    padding: 0 10px;
    height: 45px;
    border: 2px solid #cacaca;
    border-right: 0;
    background: #ffffff;
}

.form-field .mobile-field select {
    flex: 1;
    cursor: pointer;
    width: 100%;
    color: #cacaca;
}

.has-error .select-style {
    border-color: #FF0000;
}

/* Arrow */
.form-field .mobile-field .select:after {
    content: '\f078';
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    color: #e5e5e5;
}

/* Transition */
.form-field .mobile-field .select:hover::after {
    color: #454545;
}

.cs-check {
    padding: 5px 0px;
    box-sizing: border-box;
}

.cs-check label {
    font-size: 17px;
}

.cs-check .custom-control-label::before {
    width: 30px;
    height: 30px;
    border: #464645 solid 2px;
}

.cs-check .custom-control span {
    display: block;
}

.help-block.form-error {
    color: #FF0000;
    font-size: 12px;
}

.cs-check label {
    padding-left: 20px;
    box-sizing: border-box;
    padding-top: 9px;
}

.cs-check .custom-checkbox .custom-control-label::before {
    border-radius: 0;
}

.cs-check .custom-control-label::after {
    width: 20px;
    height: 20px;
}

.cs-check .custom-control-label::after {
    top: 9px;
    left: -19px;
}

.cs-check .custom-control-input:checked~.custom-control-label::before {
    background: #464645;
}

.cs-check .custom-control-input:checked~.custom-control-label::before {
    border-color: transparent;
}

.cs-check .custom-control-input:not(:disabled):active~.custom-control-label::before {
    border-color: transparent;
    background: none;
}

.submit {
    text-align: center;
    margin-top: 30px;
}

.submit button {
    background: #464645;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 50px 8px;
    box-sizing: border-box;
    transition: all 0.7s;
    color: #fff;
    border: 2px solid transparent;
}

.submit button:hover {
    transition: all 0.7s;
    color: #464645;
    background: none;
    border: 2px solid #464645;
}

.dealer-contact {
    padding: 50px 0;
}

.dealer-project-map {
}

.dealer-project-map img {
    width: 100%;
    vertical-align: top;
}

.dealer-contact-buttons {
}

.dealer-contact-buttons h2 {
    font-size: 23px;
    color: #464645;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.d_req {
    margin: 30px 15px;
    width: 310px;
    max-width: 100%;
}

.d_req a {
    color: #464645;
    font-size: 22px;
    padding: 15px 0 8px 80px;
    text-decoration: none;
    border: 2px solid #464645;
    display: inline-block;
    max-width: 320px;
    width: 100%;
    transition: all 0.7s;
}

.call-dealer a {
    background: url(../images/call.png) no-repeat top 16px left 30px;
}

.whatsaap-dealer a {
    background: url(../images/whatsaap.png) no-repeat top 12px left 30px;
}

.call-dealer a:hover {
    background: #464645 url(../images/w-call.png) no-repeat top 16px left 30px;
    color: #fff;
}

.whatsaap-dealer a:hover {
    background: #464645 url(../images/w-whatsaap.png) no-repeat top 12px left 30px;
    color: #fff;
}

.related-project-inner {
    background: #f6f6f6;
}

.rel-description {
    background: #f6f6f6;
    padding: 20px;
    box-sizing: border-box;
}

.rel-description h4 {
    color: #464645;
    font-size: 20px;
    text-decoration: none;
    padding-bottom: 10px;
}

.rel-description h4 a {
    color: #464645;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.7s;
}

.rel-description h4 a:hover {
    color: #b0b0b0;
    transition: all 0.7s;
}

.rel-description ul {
}

.rel-description ul li {
    display: block;
    padding: 7px 0;
    font-size: 14px;
    color: #464645;
}

.rel-description ul li span {
    color: #464645;
    font-size: 14px;
    display: inline-block;
    padding-right: 10px;
}

.rel-description ul li span.rel-icon {
    padding-right: 20px;
    box-sizing: border-box;
}

.rel-project .owl-next span {
    background: none;
    color: #9b9b9b;
    font-size: 50px;
}

.rel-project .owl-prev span {
    background: none;
    color: #9b9b9b;
    font-size: 50px;
}

.rel-project .owl-carousel .owl-nav button.owl-next,
.rel-project .owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
}

.rel-project .owl-next {
    position: absolute;
    top: 35%;
    right: -30px;
}

.rel-project .owl-prev {
    position: absolute;
    top: 35%;
    left: -30px;
}

.rel-project .item {
    padding: 10px;
    box-sizing: border-box;
}

.rel-project {
    padding: 0 30px;
    box-sizing: border-box;
}

.related-project {
    padding: 30px 0;    /* background: #f6f6f6;
     */
    margin-bottom: 30px;
}

.buy-grid {
    padding: 60px 0;
    background: #f6f6f6;
    margin: 50px 0 0;
}

.buy-grid.buy-list {
    padding-bottom: 0;
    padding-top: 00px;
}

.project-grid-image {
    position: relative;
}

.project-grid-details {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 20px 5px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.project-grid-image img.width_100 {
    width: 100%;
    vertical-align: top;
}

.proj-price {
    background: #464645;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    position: absolute;
    top: -20px;
    transition: all 0.7s;
}

.proj-price .fa {
    font-size: 20px;
    padding-right: 20px;
}

.project-grid-details h4 {
    font-size: 18px;
    color: #464645;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 0;
    margin: 0;
    font-family: 'Magpie_Rg';
}

.buy-grid.buy-list .project-grid-details h4 {
    font-size: 34px;
    color: #626366;
}

.buy-grid.buy-list .gr-details span {
    font-size: 16px;
    line-height: 24px;
    color: #9b9b9b;
    padding-bottom: 15px;
    display: inline-block;
}

.gr-details {
    transition: all 0.7s;
}

.gr-details p {
    margin: 0;
    color: #464645;
    font-size: 14px;
    font-style: italic;
}

.gr-details span {
    font-size: 12px;
    color: #464645;
}

.v_more {
}

.v_more a {
    text-decoration: none;
    font-size: 12px;
    padding: 5px 15px 3px;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.7s;
    background: #626367;
    color: #ffffff;
    border: 1px solid #626367;
}

.v_more a:hover {
    border: 1px solid transparent;
    transition: all 0.7s;
    background: #b7b7b7;
    color: #fff;
}

.project-grid-details {
}

.project-grid-details ul {
    text-align: center;
    margin-bottom: 0;
    padding: 10px 0 0;
}

.project-grid-details ul li {
    display: inline-block;
    text-align: center;
    font-size: 11px;
    color: #444443;
    text-transform: uppercase;
    padding: 5px;
}

.project-grid-details ul li span {
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.project-grid-image:hover .proj-price {
    transition: all 0.7s;
    height: auto;
}

.project-grid-image:hover .gr-details {
    height: auto;
    transition: all 0.7s;
}

.on-hover,
.withouthover {
}

.withouthover {
    padding: 5px 20px 5px;
}

.withouthover h4 {
    padding-bottom: 0;
}

.project-grid-image {
    overflow: hidden;
    margin-bottom: 40px;
}

.project-grid-image .on-hover {
    bottom: -100%;
    transition: all 0.7s;
}

.project-grid-image:hover .on-hover {
    bottom: 0;
    transition: all 0.7s;
}

.project-grid-image:hover .withouthover {
    bottom: -100%;
    transition: all 0.7s;
    padding: 20px 20px 5px;
}

.project-grid-image:hover .withouthover h4 {
    padding-bottom: 10px;
}

.property-made {
    background: url(../images/property-made-easy.jpg) no-repeat top center;
    background-size: cover;
    min-height: 400px;
}

.pr-made {
    display: table;
    width: 100%;
    min-height: 400px;
}

.pr-made p {
    display: table-cell;
    vertical-align: middle;
    min-height: 400px;
    font-size: 30px;
    color: #fff;
    font-family: 'Magpie_Rg';
    letter-spacing: 2px;
}

.project-rent {
    padding: 60px 0;
    background: #d7d7d7
}

.rent-inner-banner {
}

.rent-inner-banner img {
    width: 100%;
    vertical-align: top;
}

.rent-inner-content {

    /*padding-right: 60px;
    */
    box-sizing: border-box;
}

.rent-inner-content h2 {
    font-family: 'Magpie_Rg';
    font-size: 35px;
    color: #464645;
    text-transform: uppercase;
}

.broker-inquery .inner-section-heading h2 {
    font-size: 32px;
}

.rent-inner-content p {
    font-size: 16px;
    color: rgba(70, 70, 69, 0.8);
    line-height: 28px;
    padding-top: 30px;
}

.rent-contact {
    text-align: center;
    padding: 50px 0;
}

.rent-contact .d_req {
    display: inline-block;
    max-width: 360px;
    width: 100%;
}

.rent-contact .d_req a {
    padding-right: 28px;
}

.project-sell {
    position: relative;
    padding: 60px 0;
    background: #f6f6f6;
}

.project-sell:nth-child(even) {
    background: #d7d7d7;
}

.project-sell .rent-inner-banner {
    position: relative;
    width: 50%;
    float: right;
}

.project-sell .project-sell-left {
    width: 50%;
    float: left;
    padding: 0 60px;
}

.project-sell:nth-child(even) .rent-inner-banner {
    float: left;
}

.no-gutter {
    margin-right: -15px;
}

.paymentplan {
    padding-bottom: 50px;
}

/*additional-services page css*/
.broker-inquery.broker-inquery-bar {
    margin-top: 15px;
}

@media screen and (max-width:630px) {
    .search-menu,
    .serach-pannel {
        padding: 0;
        box-sizing: border-box;
    }

    #property-type,
    #budget,
    #bedroom,
    #location {
        width: 100%;
    }

    .search-submit {
        width: 100%;
    }

    .search-menu ul li a {
        padding: 10px;
        font-size: 15px;
    }

}

.project-img .owl-nav.disabled {
    display: none !important;
}

.project-img figure {
    margin-bottom: 0;
}

/* .main-height .project-discription{
display:table;
}
 .main-height .p_table{
 display:table-cell;
 vertical-align:middle;
}
 .main-height .p_cell{
margin-top:-44px;
}
 */

/* #remove-class{
}
 #remove-class .buy-product:nth-child(even) .s-main2 {
 float:right;
}
 .clearfix{
clear:both;
}
 */
.innerbanner-slider {
    position: relative;
}

.bc_hover {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
}

.project-list .project-name p.dev_loper {
    padding-bottom: 10px;
    font-size: 16px;
    color: #626366;
    text-transform: uppercase;
    text-decoration: none;
}

.filter-section.inner-filter {
    padding-top: 50px !important;
}

.plisting-sec {
    padding: 0 !important;
}

#off-plan .c_show {
    display: none;
}

#myModal .modal-content {
    padding: 20px;
}

#myModal .modal-content {
    padding: 20px;
}

#myModal .modal-dialog {
    max-width: 1000px;
}

.modal-title {
    color: #626366;
    font-size: 35px;
    line-height: 40px;
    font-family: 'Magpie_Rg';
    padding-bottom: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
}

@media screen and (max-width:767px) {
}

.nav768 {
    display: none;
}

.no-results.not-found {
    text-align: center;
    padding: 60px 0;
    overflow: hidden;
    clear: both;
}

.no-results.not-found .search-form.has-validation-callback {
    overflow: hidden;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: none;
}

.no-results.not-found .search-form.has-validation-callback .search-field {
    width: 75%;
    padding: 0 20px;
    height: 45px;
    font-size: 15px;
    line-height: 50px;
    border: 2px solid #cacaca;
    border-right: none;
}

.no-results.not-found .search-form.has-validation-callback .search-submit {
    width: 25%;
    background: #464645;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 10px 4px;
    box-sizing: border-box;
    transition: all 0.7s;
    color: #fff;
    border: 2px solid transparent;
    margin-top: -8px;
}

.no-results.not-found .search-form.has-validation-callback .search-submit {
    border: 2px solid #464645;
}

.no-results.not-found .search-form.has-validation-callback .search-submit span.screen-reader-text {
    color: #fff;
    font-size: 18px;
}

.no-results.not-found h1.page-title {
    color: #626366;
    font-size: 35px;
    line-height: 40px;
    font-family: 'Magpie_Rg';
    padding-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.no-results.not-found p {
    font-size: 16px;
    color: rgba(70, 70, 69, .8);
    line-height: 26px;
    font-family: 'Effra_Rg';
}

.no-results.not-found .search-form.has-validation-callback span.screen-reader-text {
    display: block;
    font-size: 23px;
    font-family: 'Effra_Rg';
    color: rgba(70, 70, 69, .8);
}

.no-results.not-found .search-form.has-validation-callback label {
    display: block;
}

.banner-inner {
}

#inner-banner .innerbanner-slider .owl-theme .owl-nav button {
    padding: 0 8px !important;
    font-size: 36px !important;
    color: #fff !important;
}

.viewer-toolbar {
    width: 85px !important;
}

.latest-slider-home .owl-nav {
    display: none;
}

.padding-bottom-10 li {
    padding-bottom: 20px !important;
}

.read_more_banner {
    text-align: center;
}

.read_more_banner a {
    color: #464645;
    background: #fff;
    padding: 10px 30px;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.7s;
    line-height: 30px;
    text-transform: uppercase;
    border: 2px solid transparent;
}

.read_more_banner a:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

.page-not-found {
    padding: 100px 0;
}

.page-not-found h3 {
    font-size: 40px;
}

.privacy-policy-cust {
    background: #f6f6f6;
    padding: 50px 0;
    text-align: center;
}

.term-and-conditions {
    background: #ffffff;
}

.privacy-policy h3 {
    color: #626366;
    font-size: 35px;
    line-height: 40px;
    font-family: 'Magpie_Rg';
    padding-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.bold-text {
    margin: 0;
    padding: 0;
}
#contact-page .custom-checkbox {
    text-align: left;
}
.innerbanner-slider .banner-caption{
    padding-top: 0;
}
.serach-pannel .search-field .btn-group .multiselect.dropdown-toggle{
        text-align: left;
        box-shadow: none;
}
.home-filter .btn-group .multiselect.dropdown-toggle{
    text-align: left;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: middle;
    content: "";
    border-top: 7px solid;
    border-right: 6px solid transparent;
    border-bottom: 0;
    border-left: 6px solid transparent;
    color: #999;
    margin-left: 5px;
    position: absolute;
    top: 45%;
    right: 5px;
}
ul.multiselect-container.dropdown-menu.show{
    width: 100%;
}
.innerbanner-slider .item figure{
        display: block;
    position: relative;
}
.add-block{padding:10px 0;}
.add-block h3{font-size:20px; color:rgba(70,70,69,0.8);}
.add-block p{font-size:16px; color:rgba(70,70,69,0.8);}
