.filter-section{
  padding: 0px 0;
}
.filter-section .serach-pannel  .search-field{
  padding-right: 10px;
}
.filter-section .serach-pannel .ms-options-wrap > ul{
  border-collapse: collapse;
}
.filter-section .serach-pannel .ms-options-wrap > ul li{
  border: 1px solid #ccc;
  border-top: 0;
}
.view-div ul{
  margin-bottom: 0;
}
.view-div ul li{
  list-style: none;
  /* padding-top: 5px; */
  display: none;
}
.view-div ul li+li{
  display: block;
}
.view-div ul li a{
  color: #3e3e3e;
  font-size: 26px;
  padding: 5px 5px;
}
.pagination-sec{
  padding: 40px 0 0;
}
.pagination-div{
  padding-left: 10px;
}
.pagination-div .pagination{
  margin-bottom: 0;
}
.pagination-div .pagination li{
  margin: 0 5px;
}
.pagination-div .pagination li img{
  max-width: initial;
}
.pagination-div .pagination li a:focus{ box-shadow:none !important;}
.pagination-div .pagination .page-link{
  padding:8px 7px 5px;
  border-radius: 0;
  color: #3e3e3e;
}
.bottom-right.pagination-div .pagination{
  justify-content: flex-end;
}
.pagination-div .pagination .page-item.active .page-link{
  background: none;
  color: #454546;
  border-color: #454546;
}
.perpage-view{
  padding-left: 20px;
}

/* Reset Select */
.perpage-view select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: none !important;
  background: #ffffff;
  background-image: none;
}
/* Remove IE arrow */
.perpage-view select::-ms-expand {
  display: none;
}
/* Custom Select */
.perpage-view .select {
  position: relative;
  width: 150px;
  max-width: 100%;
  line-height: 36px;
  height: 36px;
  background: #ffffff;
  overflow: hidden;
  border-radius: 0;
  border: 1px solid #ccc;
}
.perpage-view select {
  flex: 1;
  padding: 0 .5em;
  cursor: pointer;
  width: 100%;
  height: 36px;
}
/* Arrow */
.perpage-view  .select::after {
  content: '\f0dd';
  font-family: 'FontAwesome';
  position: absolute;
  top: -5px;
  right: 0;
  padding: 0 10px;
  background: #ffffff;
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
  color: #999;
}
/* Transition */
.perpage-view  .select:hover::after {
  color: #999;
}
.plisting-sec .container-fluid [class*=col-]{
  padding: 0;
}

.plisting-sec{
  padding: 0px 0 0px;
}
#off-plan{
  margin: 40px 0;
}
.project-list{
  padding: 40px 0;
  display: flex;
  align-items: center;
}
.c_show:nth-child(odd) .project-list{
  background: #f6f6f6;
  margin: 0px 0;
}
.project-list .project-img{
  width: 60%;
  /* float: left; */
  order: 2;
  margin: 0;
}
.c_show:nth-child(even) .project-list .project-img{
  float: right;
  margin-left: auto;
  order: 1;
}
.project-list .project-discription{
  padding-left: 50px;
  padding-right: 50px;
  width: 40%;
  /* float: left; */
  order: 1;
  margin: 0;
  margin-top: -40px;
}
.project-list .dealer-contact-buttons h2{
  text-align: left;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 0;
}
.project-list .project-discription .p_table{
  max-width: 530px;
  margin-left: auto;
  margin-right: 0;
}
.project-list:nth-child(even) .project-discription{
  padding-left: 30px;
  /* float: right; */
  order: 2;
}
.project-list:nth-child(even) .project-discription .p_table{
  margin-left: 0;
  margin-right: auto;
}
.project-list  .project-img .owl-carousel figure{
  margin-bottom: 0;
}
.project-list  .project-img .owl-theme .owl-nav{
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
}
.project-list:nth-child(even) .project-img .owl-theme .owl-nav{
  justify-content: flex-start;
}
.project-list .project-img .owl-carousel .owl-nav button.owl-next, .project-list .project-img .owl-carousel .owl-nav button.owl-prev{
  background: #464645;
  margin: 0;
  color: #9b9b9b;
  border-radius: 0;
  padding: 3px 8px !important;
}
.project-list .project-img .owl-carousel .owl-nav button:hover, .project-list .project-img .owl-carousel .owl-nav button:focus, .project-list .project-img .owl-carousel .owl-nav button:visited, .project-list .project-img .owl-carousel .owl-nav button:active{
  outline: 0 !important;
  box-shadow: initial;
  border: 0;
}
.project-list .project-name p{
  color: #626366;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}
.project-list .project-name h3{
  font-size: 36px;
  margin: 0;
  color: #444443;
  font-family: 'Magpie_Rg';
}
.project-list .project-name h3 a{
	  font-size: 36px;
  margin: 0;
  color: #626366;
  /* padding-left: 10px; */
  font-family: 'Magpie_Rg'; text-decoration:none;
}
.project-list .rel-description ul li span{
  color: #444443;
}
.project-list .rel-description{
  padding: 15px 0 0 0;
  background: none;
}
.project-list .dealer-contact-buttons{

}
.project-list .d_req{
  margin: 0;
}
.project-list .call-dealer a{
  border: 0;
  padding-left: 50px;
  background: url(../images/call.png) no-repeat top 16px left 0px;
  font-size:13px;
	color:#464645;
  background-size: 20px;
}
.project-list .whatsaap-dealer a{
  border: 0;
  padding-left: 50px;
  background: url(../images/whatsaap-fill.png) no-repeat top 12px left 0px;
  font-size:13px;
	color:#464645;
  background-size: 20px;
}
.project-list .call-dealer a:hover{
  color: #444443;
}
.project-list .whatsaap-dealer a:hover{
  color: #444443;
}
.laodmore-btn{
  text-align: center;
}
.laodmore-btn a{
  background: #464645;
  padding: 12px 40px;
  font-size: 16px;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: all .7s;
  margin-right: -83.5px;
}
.laodmore-btn a:hover{
  text-decoration: none;
  border: 2px solid #464645;
  background: none;
  color: #464645;
  transition: all .7s;
}

.rel-description{}
.project-list .project-discription .rel-description p{color:#9b9b9b; font-size:16px; line-height:24px;}
.project-list .project-discription .rel-description ul li span{
  color:#464645;
  padding-right:25px;
  display:inline-block;

}
.project-list .project-discription .rel-description ul li span img{
  max-width: 25px;
}


.signle span{
  color:#464645;
  padding-right:13px;
  display:inline-block;

}
.signle span img{
  max-width: 25px;
}


.project-list .project-discription .dealer-contact-buttons{font-size:16px; }

/* inner page slider css */

.innerbanner-slider{
  position: relative;
}
.innerbanner-slider .banner-caption{
  position: absolute;
  height: 50px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 50px;
}
.innerbanner-slider .banner-caption h3{
  font-size: 40px;
  text-align: center;
  color: #fff;
  width: 100%;
  font-family: 'Magpie_Rg';
  text-transform: uppercase;
}
.innerbanner-slider .item figure{
  margin-bottom: 0;
}
.banner-innerslider header{
  position: absolute;
  z-index: 9;
  top: 0;
  width: 100%;
}
.innerbanner-slider .owl-theme .owl-nav{
  position: absolute;
  bottom: 0px;
  right: 0;
  background: #464645;
  margin-top: 0;
}
.innerbanner-slider .owl-theme .owl-nav button{
  padding: 10px !important;
}
.innerbanner-slider .owl-theme .owl-nav button:hover,.innerbanner-slider .owl-theme .owl-nav button:focus,.innerbanner-slider .owl-theme .owl-nav button:visited,.innerbanner-slider .owl-theme .owl-nav button:active{
  background: none;
  outline: 0;
  box-shadow: 0;
}
.buyproductlist{
  display: flex;
  flex-wrap: wrap;
}
.buyproductlist .buy-product{
  width: 33%;
  padding: 0 15px;
}
.buy-list .buyproductlist .buy-product{
  padding: 0;
}
.buyproductlist .buy-product .grid-inner{
  position: relative;
}
.buyproductlist .buy-product .grid-inner .project-grid-image{
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.buy-grid .buyproductlist .buy-product .project-img{
  display: none;
}
.buy-grid.buy-list .buyproductlist .buy-product .project-img{
  display: block;
  width: 50%;
  order: 2;
}
.buy-grid.buy-list .buyproductlist .buy-product .project-img img{
  max-width: 100%;
}

.buy-grid.buy-list .buyproductlist .buy-product:nth-child(even) .project-img{
  order: 1;
}
.buy-grid.buy-list .buyproductlist .buy-product .project-grid-image img.width_100{
  display: none;
}
.buy-grid.buy-list .buyproductlist .buy-product .project-grid-image .project-grid-details.withouthover{
  display: none;
}
.buy-grid.buy-list .buyproductlist .buy-product .project-grid-image .project-grid-details.on-hover{
  position: static;
  width: 50%;
  padding: 0 30px 0 30px;
  order: 1;
}
.buy-grid.buy-list .buyproductlist .buy-product:nth-child(even) .project-grid-image .project-grid-details.on-hover{
  orphans: 2;
}
.buy-grid.buy-list .buyproductlist .buy-product .project-grid-image .project-grid-details.on-hover .p-table-inner{
  max-width: 530px;
  margin-right: 0;
  margin-left: auto;
}
.buy-grid.buy-list .buyproductlist .buy-product:nth-child(even) .project-grid-image .project-grid-details.on-hover .p-table-inner{
  margin-right: auto;
  margin-left: 0;
}
.buy-grid.buy-list .buyproductlist{
  display: block;
}
.buy-grid.buy-list .buyproductlist .buy-product{
  width: 100%;
}
.buy-grid.buy-list .buyproductlist .buy-product:nth-child(even){
  background: #ffffff;
  padding: 0px 0 1px;

}
.buy-grid.buy-list .proj-price{
  position: static;
  transition: initial;
}
.buy-grid.buy-list .project-grid-details{
  background: none;
}
.buy-grid.buy-list  .project-grid-details ul{
  text-align: left;
}
.buy-grid.buy-list  .project-grid-details ul li{
  display: block;
  text-align: left;
  font-size: 13px;
}
.buy-grid.buy-list  .project-grid-details ul li span{
  padding-right: 15px;
}
.buy-grid.buy-list .v_more a{
  font-size: 13px;
}

.home-latest-project.home-project-list-new .owl-nav{ display:none;}

.career-outer{background:#f6f6f6; padding:60px 0;}
.career{text-align:center; max-width:800px; margin:0 auto; width:100%;}

.career p{font-size: 16px;
    color: rgba(70,70,69,.8);
    line-height: 26px;
    font-family: 'Effra_Rg';}
.text-align-center{text-align:center;}
.career-section2{padding:60px 0;}
.section-heading{   color: #626366;
    font-size: 35px;
    line-height: 40px;
    font-family: 'Magpie_Rg';
    padding-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;}

.career-inner-content{max-width:800px; width:100%; margin:0 auto;}
.career-inner-content ul{}
.career-inner-content ul li{ display:inline-block; width:70%; margin-left:-4px; vertical-align:middle; padding-top:20px;}
.career-inner-content ul li:nth-child(even){width:30%;}
.career-inner-content ul li span{}
.career-inner-content ul li span.cr_icon{ padding-right:20px; display:inline-block;}
.career-inner-content ul li span.cr_details{font-size: 16px;
    color: rgba(70,70,69,.8);
    line-height: 26px;
    font-family: 'Effra_Rg';}
.career-images{float:left; width:33.33%;}
.career-images img{width:100%; vertical-align:top;}

.open-position{max-width:800px; margin:0 auto; width:100%; padding:60px 0;}
.open-position-inner{ padding-top:20px;}
.open-position-inner ul.tabs{}
.open-position-inner ul li{display:inline-block; text-align:center; padding:10px 50px; font-size:16px; text-transform:uppercase; cursor:pointer;}
.open-position-inner ul li.current{background:#464645; color:#fff; }
.open-position-inner ul li:hover{background:#464645; color:#fff;}
.job-left{width:70%;}
.job-right{width:30%;}
.job_inner{display:flex; }
.open-position .tab-content{padding:30px 0;}
.apply-now{text-align:right;}
.apply-now a{color: #fff;
    background: #464645;
    padding: 10px 30px;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.7s;
    line-height: 30px;
    text-transform: uppercase;
    border: 2px solid transparent;}
	.apply-now a:hover{background: none;
    border: 2px solid #000;
    color: #464645;}
.job_inner{padding-bottom:50px;}
.job-left h3{font-size:16px; color:#464645; text-transform:capitalize; font-family: 'Effra_Rg'; margin-bottom:0;}
.job-left p{font-size: 12px;
    color: rgba(70,70,69,.8);
    line-height: 22px;
    font-family: 'Effra_Rg'; margin-bottom:5px;}
.job-left .view-details a{font-size: 10px;
    color: #464645;
    line-height: 22px;
    font-family: 'Effra_Rg';}
	
	
.multiselect-native-select {
  position: relative;
}
.multiselect-native-select select {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px -1px -1px -3px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  left: 50%;
  top: 30px;
}
.multiselect-container {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.inner-filter .search-field .btn-group{ width:100% !important;}
.home-filter .btn-group{ width:100% !important;}
.home-filter .btn-group .multiselect.dropdown-toggle{ width:100% !important;
height: 50px;
    font-size: 16px;
    color: #3e3e3e;
    padding: 5px 10px;
    line-height: 44px;
    font-weight: 400;
    border-radius: none;
    border-radius: 0;
    border: 1px solid #aaa;
	background:#fff;

}
.serach-pannel .dropdown-menu.show{ height:175px; overflow-y:scroll;}

 .multiselect-container .input-group {
  margin: 5px;
}
 .multiselect-container li {
  padding: 0;
}
.multiselect-container li .multiselect-all label {

}
.multiselect-container li a {
  padding: 0;
}
 .multiselect-container li a label {
  margin: 0;
  height: 100%;
  cursor: pointer;
  font-size:16px;
  color:#3e3e3e;
  padding: 5px 10px 5px 10px;
  line-height:23px;
}
.multiselect-container li a label input[type=checkbox] {
  margin-bottom: 5px;
}
.serach-pannel .search-field .btn-group .multiselect.dropdown-toggle{
	height: 50px;
    font-size: 16px;
    color: #3e3e3e;
    padding: 5px 10px;
    line-height: 44px;
    font-weight: 400;
    border-radius: none;
    border-radius: 0;
    border: 1px solid #aaa;
}
 .multiselect-container li a label.radio {
  margin: 0;
}
.multiselect-container li a label.checkbox {
  margin: 0;
}
 .multiselect-container li.multiselect-group label {
  margin: 0;
  padding: 3px 20px 3px 20px;
  height: 100%;
  font-weight: 700;
}
.multiselect-container li.multiselect-group-clickable label {
  cursor: pointer;
}
 .btn-group .btn-group .multiselect.btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-inline .multiselect-container label.checkbox {
  padding: 3px 20px 3px 20px;
}
 .form-inline .multiselect-container label.radio {
  padding: 3px 20px 3px 40px;
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox] {
  margin-left: -20px;
  margin-right: 0;
}
 .form-inline .multiselect-container li a label.radio input[type=radio] {
  margin-left: -20px;
  margin-right: 0;
}

.innerbanner-slider .owl-dots{display:none !important; margin:0 !important;}	

@media screen and (max-width: 900px) {
	.open-position{padding:60px 15px;}  
	.open-position-inner ul.tabs{
		text-align:center;
	}
	.open-position-inner ul li{
		padding: 10px 15px;
	}
	.apply-now a{padding: 6px 18px;}

}
@media screen and (max-width: 767px) {
.career-inner-content ul li, .career-inner-content ul li:nth-child(even){width:50%;}
}
@media screen and (max-width: 540px) {
	.career-inner-content ul li, .career-inner-content ul li:nth-child(even){width:100%;}

}
